/* INDEX */
/* ================================== BLOCOS ================================== */
:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --main-bg-color: #3DACA4;
    --snd-bg-color: #EB863F;
    --trd-bg-color:  #fefefe;
    --main-fnt-color: #ffffff;
    --header-height: 50px;
    --container-width: 1000px;
}
body {
    margin: 0;
    padding: 0;
}

header {
    height: var(--header-height);
    background-color:var(--main-bg-color);
}

/* #logotipo { float: left;}  necessário para o nav não ficar desalinhado */

.container {
    width: var(--container-width);
    margin: auto;
}

nav {
    float: right;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 0px 10px;
    font-size: 14px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: var(--main-fnt-color);
}

#banner {
    background-color: var(--trd-bg-color);
    height: 300px;
}

.b-left {
    float: left;
}

.b-right {
    float: right;
}

/* ================================== ELEMENTOS ================================== */

/* header */
.header__item {
    float: left;
    color: var(--main-fnt-color);
    font-weight: bold;
    line-height: var(--header-height);
}

.a-header__line {
    background-color: var(--snd-bg-color);
    height: 5px;
}

/* banner */
.banner__item img {
    height: 300px;
    transform: scaleX(-1);
    margin-right: 55px;
}

.banner__frase1 {
    font-size: 2.5rem;
    color: var(--main-bg-color);
    font-weight: 600;
}
.banner__frase2 {
    font-size: 1.5rem;
    color: var(--main-bg-color);
    font-weight: 600;
}

.banner__btn {
    background-color: var(--snd-bg-color);
    color: var(--main-fnt-color);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 600;
    height: 60px;
    width: 260px;
    margin-top: 15px;
    /* cursor: pointer; */
    border-radius: 5px;
}

.banner__item.b-left {
    margin-top: 60px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px; */
}

/* ================================== MODIFICADORES ================================== */
nav li:hover {
	background-color: var(--snd-bg-color);
    transition: all 0.3s ease-in-out;

}
.banner__btn:hover,
.banner__btn:active {
    transition: all 0.2s linear;
    cursor: pointer;
    color: var(--snd-bg-color);
    background-color: var(--main-fnt-color);
    border: 2.5px solid var(--snd-bg-color);
}
